{
  "env": {
    "test": {
      "presets": [["env", {
        "modules": "commonjs",
        "targets": {
          "node": "current"
        }
      }]]
    }
  },
  "plugins": ["transform-flow-strip-types"],
  "sourceMaps": "inline"
}