/combinators.js
/helpers.js
/parser.js
/either.js
/maybe.js

_build/
_build_html/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

build/
browser/scripts/src
.DS_Store

*.sublime-*

*.map

_site

.tern-port
.projectile
.nyc_output
coverage
